WF_20__Personal_Assistant.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -780,
        -260
      ],
      "id": "87aa8d76-c35c-4428-9c6f-184edf8692c2",
      "name": "Telegram Trigger",
      "webhookId": "32058572-ce9b-41db-91b8-3ba535fab12f",
      "credentials": {
        "telegramApi": {
          "id": "A9PPWC0NxP4WCPlv",
          "name": "PersonalAssBot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant AI Agent designed to handle various tasks efficiently. Your primary role is to manage contacts, emails, and calendar events for the user. You have access to three tools to help you fulfill requests:\n\nContacts Data: Use this when you need to look up contact information like an email address. You need to use this tool BEFORE sending an email or BEFORE getting emails.\n\nEmail Agent: Use this for handling all email-related actions, like sending messages, setting up replies, or forwarding emails.\n\nCalendar Agent: Use this for scheduling, updating, or managing calendar events.\n\nSend Slack Message: Use this to send a message in Slack.\n\nProjects_Agent: Use this tool to access our projects. We can update our projects of get information on our projects.\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\n\nAnd when mentioned to send an email to a person fetch the email Id from the Contacts Data tool and send it to the Email Agent so it can take actions on email.\n\nHere is the current time/date: {{ $now.format('DD')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        -360
      ],
      "id": "a9dd87ea-2988-4ab6-9eb3-f42628b8314d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        40
      ],
      "id": "999a3d71-e3c1-4b62-a21c-8bbfe1d90cfc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        60,
        -80
      ],
      "id": "e9aaeed8-7f4f-44a6-91e0-10affaead26e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vAMaAgI8JPFro02LNBhWWI9Cj7_c13QKXsAmfBuQDIs",
          "mode": "list",
          "cachedResultName": "Contacts Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vAMaAgI8JPFro02LNBhWWI9Cj7_c13QKXsAmfBuQDIs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vAMaAgI8JPFro02LNBhWWI9Cj7_c13QKXsAmfBuQDIs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        140,
        40
      ],
      "id": "e692c75a-19c4-4739-81fe-01e794a0d4b5",
      "name": "Contacts Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c3uhCWXrjI4UPEQI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool when need to take actions in email",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "3ZJcQwTbBx4ylAuH",
          "cachedResultName": "WF-20.1: Email Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        340,
        40
      ],
      "id": "6496d939-1872-4725-bd5e-6715faf2cd73",
      "name": "emailAgent"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for Calendar actions",
        "workflowId": {
          "__rl": true,
          "value": "9zOmWcOHvYUiLjAV",
          "mode": "list",
          "cachedResultName": "WF-20.2: Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        220,
        -60
      ],
      "id": "884f9366-c2fa-42dd-a59a-361987c33a20",
      "name": "calendarAgent"
    },
    {
      "parameters": {
        "name": "researchAgent",
        "workflowId": {
          "__rl": true,
          "value": "4111Wa2dCmL3jRMI",
          "mode": "list",
          "cachedResultName": "WF-20.3: Research Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        440,
        -60
      ],
      "id": "72b49ea9-2b78-4aab-a327-e8dd9e051837",
      "name": "researchAgent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f196c8aa-000b-4dc0-ba5d-acee7b7df113",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -560,
        -260
      ],
      "id": "0aa929e1-2013-4638-a698-7cc282eee3e3",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed454e51-1740-4e5c-be0c-7e4fa6f0a721",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        -180
      ],
      "id": "d88b09c2-16db-4f67-b2f1-c4d738ccf67c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -420,
        -420
      ],
      "id": "655033d7-0d12-44c7-87af-b8434bfc0ad5",
      "name": "Telegram1",
      "webhookId": "19197feb-6c57-448a-aa12-25a8f8c31ca5",
      "credentials": {
        "telegramApi": {
          "id": "A9PPWC0NxP4WCPlv",
          "name": "PersonalAssBot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -240,
        -420
      ],
      "id": "054f721a-8b3b-4d63-b598-9f8e8a14ad90",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/cgSgspJ2msm6clMCkdW9",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_a219689bb60f71d93d637df0676163b2659bf03a3b0f3e89"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ JSON.stringify($json.message.content).replace(/(^\\\"|\\\"$)/g, '') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        -440
      ],
      "id": "f3784f8f-242c-4b05-a882-1cc3ca049f0c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "data.mpeg"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -200
      ],
      "id": "6c85baad-95ed-4af4-a3c0-ccfaa3e7965d",
      "name": "Telegram2",
      "webhookId": "b3a9b8ac-23b0-4928-b682-3fb98675cf50",
      "credentials": {
        "telegramApi": {
          "id": "A9PPWC0NxP4WCPlv",
          "name": "PersonalAssBot"
        }
      }
    },
    {
      "parameters": {
        "content": "## WF-20: Personal Assistant Agent",
        "height": 80,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        -500
      ],
      "typeVersion": 1,
      "id": "dd9c6fdf-6525-4e6c-b32e-d8b52c804ca7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this incoming information: {{ $json.output }}\n\noutput only plain text, there should be now markdown formating or any symbols ",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        -360
      ],
      "id": "0b90a321-039b-44c5-b1d0-59906b5c97ce",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ieWS9WWeYylZWArQ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "emailAgent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendarAgent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "researchAgent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32abcfe23a703a294bd580240a37e884f6782ba42aeff437bff7e0a3461ea3a4"
  }
}
